<head>
    <meta charset='utf-8'>
    <title>REAL</title>
    <link rel="stylesheet" href="/style.css" >
    <link rel="stylesheet" href="/headerStyle.css">
    <script src="/reloadPosition.js"></script>
    <script src="/main.js"></script>
</head>