<!DOCTYPE html>
<html lang="hu">

<%- include('partials/head.ejs') %>

<body>
    <div class="header">
        <%- include('partials/header.ejs') %>
            <h2>Post your real estate listings here, we will take care of the rest ;)</h2>
    </div>
    <section>
        <form name="user_post_form" method="POST" action="/createAd" enctype="multipart/form-data">
                <p class="formText">City: <input type="text" name="varos" placeholder="Varos neve"
                        pattern="^[A-z ]*$" title="You can only insert letters in this field" required
                        class="formText inputText"></p>
                <p class="formText">District: <input type="text" name="negyed" placeholder="Negyed neve"
                        pattern="^[A-z ]*$" title="You can only insert letters in this field" required
                        class="formText inputText"></p>
                <p class="formText">Area: <input type="text" name="felszinterulet"
                        placeholder="Lakas felszinterulet negyzetmeterben" pattern="^[1-9][0-9]*$"
                        title="You can only insert numbers in this field" required class="formText inputText"></p>
                <p class="formText">Price: <input type="text" name="ar" pattern="^[1-9][0-9]*$"
                        placeholder="Lakas ara euroban" title="You can only insert numbers in this field" required
                        class="formText inputText"></p>
                <p class="formText">Number of bedrooms: <input type="text" name="szobakSzama"
                        placeholder="Szobak szama a lakasban" pattern="^[1-9][0-9]*$"
                        title="You can only insert numbers in this field" required class="formText inputText"></p>
                <p class="formText">Date: <input type="date" name="datum" required></p>
                <p><input class="inputText" type="submit" value="Submit"></p>
        </form>
    </section>
</body>

</html>