<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset='utf-8'>
    <title>Error</title>
</head>
<body>
    <h1 class="header">Sadly we encountered an error :(</h1>
    <p>Error: <%= message %></p>
    </section>
</body>
</html>