#playbox {
    position: relative;
    padding-bottom: 20px;
    visibility: hidden;
}

#qa {
    height: 300px;
    width: 600px;
    position: absolute;
    top:20px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

#questions, #answers, #canvas {
    visibility: hidden;
}

.q, .a{
    margin-top: 30px;
}

.q {
    margin-right: 100px;
}

#questions {
    margin-right: 300px;
}