.inputText, .inputPassword, select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputSubmit{
    text-align: center;
    width: 10%;
    background-color: #c5c7c8;
    border: 1px solid transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, #adsListed:hover, #userList:hover, #changeRole:hover, #openChatroom:hover{
    background-color: #6c6a6a;
    border: 1px solid rgb(204, 204, 204, 1);
}

.formText {
  font-family: "Times New Roman", Times, serif;
}

.oneLine {
    display: inline;
}

#errorMessage {
    color: red;
}

.userClick {
  border-radius: 25px;
  background: #8d8f90;
  border-top: 30px; 
  padding: 10px;
  width: 600px;
  height: 20px;   
  margin-top: 20px;
}

.lakasok {
  border-radius: 25px;
  background: #8d8f90;
  border-top: 30px; 
  padding: 10px;
  width: 100%;
  height: auto; 
  margin-top: 20px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 30px;
  }

#linkPage {
  text-align: center; 
  width : 20%;
}

#deleteImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.headerButtonRight {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.headerButtonLeft{
  position: relative;
  float: left; 
  margin-right: 10px;
  margin-left: 10px;
}
  
#adsListed, #userList, #changeRole, #openChatroom {
  display: flex;
  position: relative;
  width: auto;
  background-color: #c5c7c8;
  color: white;
  padding : 12px 20px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#adsListed, #userList {
  margin-bottom: 10px;
}

#username {
  text-align: center;
  width: auto;
  background-color: #c5c7c8;
  color: white;
  padding: 14px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.containerMessage {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerMessage::after {
  content: "";
  clear: both;
  display: table;
}

.containerMessage img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerMessage img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}